/* 
.app-loyout {
  display: flex; 
  
}

.side-nav {
  width: 250px; 
  background-color: #1e1e2f; 
  padding: 20px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
}

.main-content {
  flex: 1; 
  padding: 20px; 
  background-color: white; 
  
}

.side-nav-header {
  margin-bottom:5px; 
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
  background-color: aliceblue;
  border-bottom: 1px solid #ccc;

}


.user-info {
  display: flex;
  flex-direction: column; 

.user-name,
.user-email {
  margin: 5px 0; 
  font-size: 14px; 
  color: #333; 
}



.side-nav-item {
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s;
  border-radius: 6px;
  background-color: #2a2a3d;
  margin-bottom: 10px;
}

.side-nav-item:hover {
  background-color: #e0e0e0; 
}
} */

/* SideNave.css */
.btn {
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Change on hover */
}

.btn.active {
  background-color: #004085; /* Darker shade for the active button */
}